<div class="container">
    <h4> Dell Inspiron 3511 Laptop,11th Gen Intel Core i3-1115G4, 8GB, 512GB SSD, Windows 11 + MSO, 15.6" (39.62Cms) FHD WVA AG Narrow Border, Carbon Black (D560842WIN9B, 1.8Kgs)</h4>
    <img style="width: 60%;" src="../../../assets/images/laptop.jpg">
    <div>
        <h6>About this item</h6>
        <ul>
            <li>Processor: i3-1115G4 (1.70 GHz up to 4.10 GHz)</li>
            <li>RAM & Storage: 8GB DDR4 & 512GB SSD</li>
            <li>Display: 15.6" FHD WVA AG Narrow Border</li>
            <li>Software: Win 11 + Office H&S 2019</li>
            <li>Ports: 2x USB 3.2 Gen1 ,1x USB 2.0, HDMI 1.4, SD Card reader, Audio jack, 1 M.2 2230/2280 slot for solid-state drive/Intel Optane</li>
        </ul>
    </div>
</div>
