<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded shadow py-5">
            <form (ngSubmit)="onSubmit(mySampleForm)" #mySampleForm="ngForm">
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" class="form-control" name="username" required id="username" placeholder="Enter User name"
                        [(ngModel)]="username">
                        <small *ngIf="username"> user name is {{username}} </small>
                </div>
                <div class="form-group">
                    <label for="email">Enter Email Address</label>
                    <input type="text" class="form-control" #email="ngModel" email name="email" id="email" required placeholder="Enter Email" ngModel>
                    <small *ngIf="!email.valid && email.touched"> Enter Valid Email</small>
                </div>
                <div class="form-group">
                    <label for="course"> Select the Course</label>
                    <select class="form-control" name="course" id="course" [ngModel]="defaultValue">
                        <option value="angular">Angular</option>
                        <option value="HTML"> HTML</option>
                        <option value="javascript">JavaScript</option>
                    </select>
                </div>
                <div>
              <!--  <input type="date" min="2022-12-14">  disable past date by using min property (static)
              <input type="date" min="{{minDate}}"> disable past date by using string interpolation and min property(static)-->
              <input type="date" min="{{minDate}}"> <!--disable past date dynamically using custom validation-->
            </div>
                <button class="btn btn-success"> Submit </button>
                <div class="row justify-content-center mt-2" *ngIf="submit">
                    <div class="col-md-6 rounded shadow py-4">
                    <h2>Form data</h2><p>Username: <strong> {{student.username}} </strong></p>
                    <p>Email: <strong> {{student.email}}  </strong></p>
                    <p>Course: <strong> {{student.course}}  </strong></p>
                </div>
            </div>      
            </form>
        </div>
    </div>
</div>